body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
    color:#777;
    background:#777;
    width:960px;
    font-size:18px;
    text-align:center;
    margin:auto;
    font-weight:normal;
}
h1,h2,h3{
    font-weight:normal;
}
header{
    background:#ebebeb;
    margin-top:10px;

}

nav{
    background:#ebebeb;
    margin-top:10px;
    width:100%;
    }
h1{
    padding: 20px 0;
    margin: 0;
    margin-bottom:20px;
}
h3{
    padding:10px;
}
Article{
    background:#777;
    color:#ebebeb;
    width:100%;
    padding:1px;   
}
aside{
    float:right;
    background:#ebebeb;
    width:37%;
    height:330px;
}
#section{
    color:#777;
    background:#ebebeb;
    float:left;
    padding:25px;
    height:280px;
    width:56%;
    margin:center;
}
div #art {
    color:#777;
    background:#ebebeb;
    width: 95%;
    margin: auto
}

footer {
    background:#ebebeb;
    width:100%;
    clear:both;
    float:right;
    margin-top:20px;

}
